<div class="container">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <h2 class="text-center">Log in</h2>
        <button class="btn btn-block btn-twitter" ng-click="authenticate('twitter')">
          <i class="ion-social-twitter"></i> Sign in with Twitter
        </button>
        <!--<button class="btn btn-block btn-yahoo" ng-click="authenticate('yahoo')">-->
          <!--<i class="ion-social-yahoo"></i> Sign in with Yahoo-->
        <!--</button>-->
      </div>
    </div>
  </div>
</div>
